<nav class="app-header">
  <a class="app-header-brand-name" routerLink="/">
    To Do List
  </a>

  <ul class="app-header-link-list" *appShowAuthed="false">
    <li class="app-header-link">
      <a routerLink="/user/login">Login</a>
    </li>
    <li class="app-header-link" >
      <a routerLink="/user/signup">Signup</a>
    </li>
  </ul>
  <ul class="app-header-link-list" *appShowAuthed="true">
    <li class="app-header-link" >
      <a routerLink="/user/profile">{{ loggedUser.getProperty('name') }}</a>
    </li>
    <li class="app-header-link">
      <a routerLink="#" (click)="handleLogout()">Logout</a>
    </li>
  </ul>
</nav>
